<div class="container col-md-9">
    <form>
        <span class="row col-md-3">
            <input class="form-control col-md-11" id="search" type="text" placeholder="Search..."/>
            <button class="btn btn-primary" type="submit">Search</button>
        </span>
    </form>
    <div class="row align-items-center">
        <ul class="list-group">
            <li class="row mt-2">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img" src="../../assets/activities/placeholder.png" title="placeholder" />
                    </div>
                </div>
                <div class="col-md-9">
                    <h5 class="card-title">Title</h5>
                    <p>Description...</p>
                </div>
            </li>
        </ul>
    </div>
</div>