<div class="container col-md-6 pt-3">
    <div class="row align-items-center">
        <div class="card text-{{theme.text}} bg-{{theme.background}}">
          <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
          <div class="card-body">
            <h4 class="card-title text-center">Login</h4>
            <form [formGroup]="recoveryForm" (ngSubmit)="submit()">
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" formControlName="email" placeholder="Email"/>
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="email?.errors?.['required']">Email is required</div>
                        <div *ngIf="email?.errors?.['minlength']">Email must be at least 1 character long</div>
                        <div *ngIf="email?.errors?.['email']">Please enter a valid Email</div>
                    </div>
                </div>
                <button [disabled]="!isValid" class="btn btn-primary" type="submit">Submit</button>
                <span class="float-end mt-3 ">
                    <a routerLink="../login">Login</a>
                </span>
            </form>
          </div>
        </div>
    </div>
</div>