<div class="container col-md-6 pt-3">
    <div class="row align-items-center">
        <div class="card text-{{theme.text}} bg-{{theme.background}}">
          <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
          <div class="card-body">
            <h4 class="card-title text-center">Login</h4>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" formControlName="email" placeholder="Email"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" type="password" formControlName="password" placeholder="Password"/>
                    <div id="forgotPassword" class="form-text">
                        <a routerLink="../password-recovery">forgotten password?</a>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <span class="float-end mt-3 ">
                    <a routerLink="../sign-up">Not got an account? Sign up</a>
                </span>
            </form>
          </div>
        </div>
    </div>
</div>