<div *ngIf="activity" class="container col-md-9 mt-3`">
    <div class="row align-items-center">
        <div class="card text-{{theme.text}} bg-{{theme.background}}">
          <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
          <div class="card-body">
            <h4 class="card-title text-center">{{activity.title}}'s Profile</h4>
            <form [formGroup]="updateForm" (ngSubmit)="submit()">
                <div class="mb-3">
                    <!-- Make into drop down selection -->
                    <!-- Set up correct form controls  -->
                    <!-- Add form validation errors -->
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" id="title" type="text" formControlName="title" placeholder="Title"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="firstName">Forename</label>
                    <input class="form-control" id="firstName" type="text" formControlName="firstName" placeholder="Forename"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lastName">Surname</label>
                    <input class="form-control" id="lastName" type="text" formControlName="lastName" placeholder="Surname"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" formControlName="email" placeholder="Email"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" type="password" formControlName="password" placeholder="Password"/>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
    </div>
</div>