div.polaroid {
    width: 18.99%;
    max-height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }